.head {
    width: 100%;
    height: 779px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .image {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 617px;
    position: absolute;
  }
  .archieve {
    gap: 43px;
    top: 617px;
    left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(253, 118, 60, 1);
  }
  .frame8 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    color: rgba(23, 22, 23, 1);
    width: 120px;
    height: auto;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text02 {
    color: rgba(23, 22, 23, 0.6000000238418579);
    width: 140px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .text04 {
    color: rgba(23, 22, 23, 1);
    width: 136px;
    height: auto;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text06 {
    color: rgba(23, 22, 23, 0.6000000238418579);
    width: 116px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .text08 {
    color: rgba(23, 22, 23, 1);
    width: 136px;
    height: auto;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text10 {
    color: rgba(23, 22, 23, 0.6000000238418579);
    width: 135px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .text12 {
    color: rgba(23, 22, 23, 1);
    width: 136px;
    height: auto;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text14 {
    color: rgba(23, 22, 23, 0.6000000238418579);
    width: 148px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text16 {
    top: 74px;
    left: 47px;
    color: rgba(18, 17, 17, 1);
    height: auto;
    position: absolute;
    font-size: 55px;
    font-style: Regular;
    text-align: left;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .root-class-name {
    top: 120px;
    left: 0px;
    position: absolute;
  }
  