.property-details {
  width: 100%;
  height: 1800px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.loginbotton {
  top: 14px;
  left: 1500px;
  width: 105px;
  height: 47px;
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(9, 192, 248, 0.507);
}
.logintext {
  top: 23px;
  left: 1520px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.headertext {
  top: 17px;
  left: 98px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: rgb(34, 32, 32);
  text-align: left;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border: 15px;
  border-radius: 100px;
  border-style: inset;
  border-color: rgba(9, 192, 248, 0.507);
}
.image1 {
  top: 93px;
  left: 380px;
  width: 880px;
  height: auto;
  position: absolute;
  border: 5px;
  border-style: solid;
  border-color: rgba(172, 233, 252, 0.548);
}

.rentdetails {
  top: 656px;
  left: 1200px;
  width: 330px;
  height: 186px;
  position: absolute;
  border-color: rgb(9, 192, 248);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.r1 {
  top: 685px;
  left: 1270px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.r2 {
  top: 797px;
  left: 1260px;
  width: 218px;
  height: 35px;
  position: absolute;
  border-color: rgb(9, 192, 248);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.r3 {
  top: 803px;
  left: 1280px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.rectangle12 {
  top: 797px;
  left: 1430px;
  width: 38px;
  height: 37px;
  position: absolute;
}
.rentbutton {
  top: 732px;
  left: 1250px;
  width: 233px;
  height: 40px;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(9, 192, 248, 0.507);
}
.renttext {
  top: 738px;
  left: 1340px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.d3 {
  top: 712px;
  left: 200px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.d4 {
  top: 801px;
  left: 200px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.d5 {
  top: 717px;
  left: 626px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.d6 {
  top: 757px;
  left: 626px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vrbutton {
  top: 950px;
  left: 350px;
  width: 880px;
  height: 81px;
  position: absolute;
  border-radius: 40px;
  background-color: rgba(9, 192, 248, 0.507);
}
.textbuttonvr {
  top: 970px;
  left: 570px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.location {
  top: 1100px;
  left: 800px;
  color: rgb(9, 192, 248);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.description {
  top: 1100px;
  left: 150px;
  color: rgb(9, 192, 248);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.provider {
  top: 1100px;
  left: 1200px;
  color: rgb(9, 192, 248);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text15 {
  top: 1170px;
  left: 950px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text22 {
  top: 1170px;
  left: 1350px;
  color: rgb(34, 32, 32);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.locationphoto {
  top: 1140px;
  left: 800px;
  width: 110px;
  height: 110px;
  position: absolute;
}
.providerphoto {
  top: 1140px;
  left: 1200px;
  width: 110px;
  height: 110px;
  position: absolute;
}
.line {
  top: 1070px;
  left: 120px;
  width: 1400px;
  height: 1px;
  position: absolute;
}

.lineee {
  top: 1400px;
  left: 120px;
  width: 1400px;
  height: 1px;
  position: absolute;
}
