.header {
  width: 1754px;
  height: 123px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.logo {
  top: 0px;
  left: 0px;
  width: 255px;
  height: 123px;
  position: absolute;
}
.text {
  top: 33px;
  left: 255px;
  color: rgba(253, 118, 60, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text02 {
  top: 39px;
  left: 399px;
  color: rgba(253, 118, 60, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text04 {
  top: 40px;
  left: 607px;
  color: rgba(253, 118, 60, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.search {
  top: 31px;
  left: 737px;
  width: 460px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.searhbar {
  gap: 344px;
  top: 0px;
  left: 0px;
  width: 460px;
  height: 62px;
  display: flex;
  padding: 3px 11px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 48px;
  background-color: rgba(251, 240, 240, 1);
}
.searchlogo {
  top: 12px;
  left: 403px;
  width: 50px;
  height: 34px;
  position: absolute;
}
.text06 {
  top: 10px;
  left: 19px;
  color: rgba(241, 9, 9, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Pristina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text07 {
  font-weight: 400;
}
.text08 {
  top: 45px;
  left: 1270px;
  color: rgba(253, 118, 60, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text10 {
  top: 43px;
  left: 1465px;
  color: rgba(253, 118, 60, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.people {
  top: 28px;
  left: 1581px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.wishlist {
  top: 31px;
  left: 1690px;
  width: 64px;
  height: 62px;
  position: absolute;
}
.root-class-name {
  top: -3px;
  left: 0px;
  position: absolute;
}
