.card {
  margin-left: 50px ;
  margin-bottom: 50px;
  /* Add margin to create space between cards */
}
.item {
  width: 8rem;
  height: 32rem;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
 

    
}

.wishlist {
 
  top: 29rem;
  left: 20rem;
  width: 64px;
  height: 62px;
  position: absolute;
}

.content {
  gap: 16px;
  top: 280.30352783203125px;
  left: 23.206342697143555px;
  width: 375.1731262207031px;
  height: 113.8733139038086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame53 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}



.text2 {
  color: rgba(232, 151, 75, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame52 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.locationonblack24dp2 {
  width: 16px;
  height: 16px;
}
.text4 {
  color: rgba(127, 127, 127, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.image {
  top: 1rem;
  left: 1rem;
  width: 22rem;
  height: 15rem;
  position: absolute;
  border-radius: 16px;
}
.root-class-name {
  top: 1079px;
  left: 112px;
  position: absolute;
}

