.text {
    top: 934px;
    left: 564px;
    color: rgba(252, 240, 240, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
   
  margin: 0 auto;
  width: 80%;
  }