/* SearchForm.css */

.search-form {
    background-color: rgba(253, 118, 60, 1);
    padding: 10px 15px; /* Reduced padding */
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center;
    
    width: 100%; /* Set width to 100% */
    max-width: 1100px; /* Optional: Set maximum width to avoid excessive stretching */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .accommodation-name-input {
    flex: 2; /* Adjusted width of the accommodation name input */
    width: 100%; /* Ensure the input fills the available space */
  }
  
  .price-input {
    flex: 1; /* Adjusted width of the price input */
  }
  
  .search-form input,
  .search-form select {
    margin-right: 10px;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px; /* Reduced font size */
    width: 100%; /* Make input fields and select dropdowns fill the width */
  }
  
  .search-form button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 15px; /* Reduced padding */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }

  .search-button {
    margin: 5px 0;
      width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 15px; /* Reduced padding */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for responsiveness */
  @media (max-width: 768px) {
    .search-form {
      flex-direction: column;
      align-items: stretch;
    }
  
    .search-form input,
    .search-form select,
    .search-form button {
      margin: 5px 0;
      width: 100%;
    }
  }
  