.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .home {
    width: 100%;
    
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(7, 0, 0, 1);
    flex-direction: column;
  }
  
  .content-wrapper{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  
  
  .line3 {
    top: 968px;
    left: 1246px;
    width: 510px;
    height: 1px;
    position: absolute;
    color: white;
  }
  
  .line2 {
    top: 961px;
    left: 0px;
    width: 524px;
    height: 1px;
    position: absolute;
    color: white;
  }
  
  .archieve {
    gap: 43px;
    top: 700px;
    left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(253, 118, 60, 1);
  }