.item {
  width: 467.99951171875px;
  height: 417.53546142578125px;
  margin-bottom: 20px; /* Spacing between rows */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 10px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; 
}
.content {
  gap: 16px;
  top: 280.30352783203125px;
  left: 23.206342697143555px;
  width: 375.1731262207031px;
  height: 113.8733139038086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame53 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.text2 {
  color: rgba(232, 151, 75, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame52 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.locationonblack24dp2 {
  width: 16px;
  height: 16px;
}
.text4 {
  color: rgba(127, 127, 127, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.image {
  top: 17.518964767456055px;
  left: 23.206342697143555px;
  width: 422px;
  height: 234px;
  position: absolute;
  border-radius: 16px;
}
.root-class-name {
  top: 1079px;
  left: 112px;
  position: absolute;
}
