.search-button {
    margin: 5px 0;
      
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 15px; /* Reduced padding */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  